@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}


body {
  margin:0px;
  padding:0px;
  width: 100%;
  overflow-x: hidden;

  font-family: "Poppins", serif;
  /* font-weight: 600; */
  font-style: normal;
  font-size: 15px;
}

* {

  /* font-family: "DM Serif Text"; */
  /* font-family: -apple-system,"system-ui",Segoe UI,roboto,helvetica,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
  /* font-weight: 600; */
  font-style: normal;
}

.text-title {
  /* font-family: "DM Serif Text", serif !important; */
  font-style: normal;
}

a.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-map .mapboxgl-popup-content {
  border-radius: 10px;
  padding: 0px;
  box-shadow: none !important;
}

div.mapboxgl-popup {
  max-width: 360px !important;
  box-shadow: 0px 0px 0.5rem #bcbcbc;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.mapboxgl-popup-content {
  box-shadow: none;
}

.mapboxgl-map .mapboxgl-popup-content .mapboxgl-popup-close-button {
  display: block;
  font-size: 20px;
  color:#111;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  top:5px;
  right:5px;
}

.mapboxgl-map .mapboxgl-popup-tip {
  display: none;
}


#range-slider .range-slider__range {
  background: #ffbf00;
  height: 10px;
  transition: height .3s;
}

#range-slider .range-slider__thumb {
  background: #faa307;
  transition: transform .3s;
}

.radialRingWrapper {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radialRing{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 0, 0, .4);
  animation: radialPulse 2s infinite;
  will-change: transform, opacity;
}

@keyframes radialPulse {
  0%{
    transform: scale(.1);
    opacity: 1;
  }

  100% {
      transform: scale(1.5);
      opacity: 0;
  }
}

.collapse-tab {
  transition: 0.4s all;
}


.general-info img:hover {
  filter: brightness(0.8);
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s;
}

.general-info img {
  transition: 0.4s; 
  filter: brightness(1);
  transform: scale(1);
}


.zoom-in:hover {
  filter: brightness(0.8);
  transform: scale(1.1);
  background-color: #000 !important;
}

.animation-spin {
  animation:spin 1.8s linear infinite !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f0ee; 
  padding:5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 3px;
  border:1px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}

.stopover-marker {
  width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5), 0 5px 10px 0 rgba(0, 0, 0, .75);
    z-index: 20 !important;
    transition: all var(--transition-3s) ease-in-out;
}


.loading-bar-background {
  --height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  width: 200px;
  height: var(--height);
  background-color: #212121 /*change this*/;
  box-shadow: #0c0c0c -2px 2px 4px 0px inset;
  border-radius: calc(var(--height) / 2);
}

.loading-bar {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  --height: 20px;
  width: 0%;
  height: var(--height);
  overflow: hidden;
  background: rgb(222, 74, 15);
  background: linear-gradient(
    0deg,
    rgba(222, 74, 15, 1) 0%,
    rgba(249, 199, 79, 1) 100%
  );
  border-radius: calc(var(--height) / 2);
  animation: loading 4s ease-out infinite;
}